# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# Variáveis de ambiente
.env
.env.*
!.env.example

# Node
node_modules/
dist/
build/

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db

# VS Code
.vscode/